<style type="text/css">
	#container {
		max-width: 768px;
		background-color: #f8f8f8;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 10px 25px;
	}	

	#btn-newMem {
		padding: .7em 8em ;
		margin: 1.8em  auto .6em auto;
		font-size: 16px;
	}

	.img-circle {
		width: 45px;
		height: 45px;
		/*float: left;*/
		margin-right: 16px;
		margin-left: 16px;
	}

	.checkbox {margin-bottom: 25px;}

	#btn-agreeApply,#btn-refuseApply {padding: .6em 1.5em;}
	#btn-agreeApply {margin-right: .7em;}

</style>

<div id="container" class="container" ng-controller="applyApprovalCtrl">
	<h3>Newthread加入申请</h3>
	<div class="checkbox" ng-repeat="apply in applyInfo">
		<label for="">
			<input type="checkbox"  style="position: relative" ng-model="apply.userApplyStatus" ng-true-value="1" ng-false-value="0"><img src="common/img/waves.jpg" class="img-circle" alt="">{{apply.applyName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{apply.applyJoinSid}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{apply.remark}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-warning"  ng-click="refuseJoin($index,apply.applyJoinSid)">拒绝加入</button>
	    </label>
	</div>


	<button class="btn btn-success" id="btn-agreeApply" ng-click="agreeJoin()">同意加入</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-default" id="btn-refuseApply"  ng-click="applyApprovalBack()">稍后处理</button>
</div>