<style type="text/css">
	#container {background-color: #fefefe;border: 1px solid #ececec;border-radius: 5px;	padding: 10px 25px;}	
	#form-horizontal {margin: .8em auto;color: #555}
	.form-control {max-width: 170px;display: inline-block;}
	.table th{text-align: center;}
	.table a {color: rgb(29,124,244);}
	.img-circle {width: 55px;height: 55px;float: left;margin-left: .2em;}
	.span {float: right;line-height: 1.5em;padding-top: .5em;padding-right: .6em;}
	.name {font-size: 14px;}
	.author {color: #f68539;font-size: 12px;}
	.top {margin-top: 1.8em;}
	th,td {width: 1px;white-space: nowrap; word-break:  keep-all; }	  
</style>

<div id="container" class="container text-center">
	<h3 style="font-weight: 700;">{{companyShortName}}&nbsp;&nbsp;&nbsp;进货检验总计不良率月报图表</h3>
	<div class="form-group" style="margin-top: 1.5em;">
		<form class="form-horizontal" id="form-horizontal" name="monthlyStatisticsform" novalidate>			
			<label class=" control-label" style="margin-right:1em;">检验时间</label>
			<input type="month" class="form-control" id="checkoutTime" name="checkoutTime" ng-model="monthlyChart.checkoutTime" required>	
			<label class=" control-label" style="margin-right:1em;margin-left:2em;">供应商名称</label>	

			<select class="form-control" ng-options="o as o.name for o in monthlyChart.dictionary.vendorName" ng-model="monthlyChart.Selected.vendorName"></select>
			
			<button class="btn btn-success btn-newMem" id="btn-newMem" style="margin-left: 1.5em;" ng-click="getSingleVendor()">查询</button>				
		</form>
	</div>
	<div id="main1" style="height:400px;width:900px;margin: 0 auto"></div>
	<button class="btn btn-success btn-newMem" ng-click="monthlyChartBack()">返回管理面板</button>
</div>