<style type="text/css">
	#container {
		background-color: #fefefe;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 0 25px 10px 25px;
	}	
	#form-horizontal {margin: .8em auto 0 auto;color: #555}
	
	.left{text-align: left !important;float: left;padding-left: 15px;padding-top: 7px;padding-right: 5px;}

	.table th{text-align: center;}

	.table a {color: rgb(29,124,244);}

	.add {padding: 8px 40px;}

	.img-circle {
		width: 55px;
		height: 55px;
		float: left;
		margin-left: .2em;
	}

	.row {margin-bottom: 1em;}

	.span {float: right;line-height: 1.5em;padding-top: .5em;padding-right: .6em;}
	.name {font-size: 14px;}
	.author {color: #f68539;font-size: 12px;}
	.top {margin-top: 1.8em;}
	
</style>
<div ng-controller="planMetricListCtrl">
	

<div id="container" class="container text-center" >
<!-- <div id="container" class="container text-center"> -->
	<h3>定性检验项目列表</h3>
	<!-- <span style="font-size: 20px;">{{companyShortName}}</span>
	<span style="font-size: 20px;">{{companyShortName}}</span> -->
	<div class="row">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover ">
			<thead>
		    <tr>
		      <th>#</th>
		      <th>编号</th>
		      <th>分类</th>
		      <th>指标名称</th>
		      <th>指标描述</th>
		      <th>工具</th>
		      <th>工序</th>
		      <th>操作</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="list in planMetricList.DXCheckoutMetricList">
		  		<td>{{$index+1}}</td>
		  		<td ng-bind="list.checkoutMetricNo"></td>
		  		<td ng-bind="list.checkoutMetricClassify"></td>
		  		<td ng-bind="list.checkoutMetricName"></td>
		  		<td ng-bind="list.checkoutMetricDescription"></td>
		  		<td ng-bind="list.checkoutToolName"></td>
		  		<td ng-bind="list.processName"></td>

	            <!-- checkoutMetricSid: "", -->
<!-- 	            checkoutPlanSid: "",
	            checkoutMetricName: "",
	            checkoutMetricDescription: "",
	            checkoutToolCode: "",
	            checkoutToolName: "",
	            checkoutMetricTypeCode: "",
	            checkoutMetricType: "",
	            checkoutMetricClassifyCode: "",
	            checkoutMetricClassify: "",
	            processName: "",
	            metricUnit: "",
	            referenceStandard: "",
	            underTolerance: "",
	            upTolerance: "",
	            mapPosition: "",
	            threeDimensionalRogramNo: "",
	            fixtureId: "",
	            checkoutMetricNo: ""
 -->
		  		<td><a href="">修改</a></td>
		  	</tr>
		  </tbody>
		</table>
	</div>
	<div >
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">添加</button>  

         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-header"><h3>添加项目</h3></div>
        <div class="modal-body">
        <form >
          <div class="form-group">
            <label for="companyName" class="control-label left">编号</label>
            
            <input type="text" class="form-control"  required >
         
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">分类</label>
            <input type="text" class="form-control"  required >
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">指标名称</label>
           
            <input type="text" class="form-control"  required >
         
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">指标描述</label>
           
            <input type="text" class="form-control"  required >
            
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">工具</label>
           
            <input type="text" class="form-control"  required >
            
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">工序</label>
          
            <input type="text" class="form-control"  required >
            
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary"><a href="#">保存</a></button>
      </div>
    </div>
  </div>





</div>

</div>

<div id="container" class="container text-center"  style="margin-top: 2em;">
<!-- <div id="container" class="container text-center"> -->
	<h3>定量检验项目列表</h3>
	<!-- <span style="font-size: 20px;">{{companyShortName}}</span>
	<span style="font-size: 20px;">{{companyShortName}}</span> -->
	<div class="row">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover ">
			<thead>
		    <tr>
		      <th>#</th>
		      <th>编号</th>
		      <th>分类</th>
		      <th>指标名称</th>
		      <th>指标描述</th>
		      <th>工具</th>
		      <th>工序</th>
		      <th>单位</th>
		      <th>参考标准</th>
		      <th>下公差</th>
		      <th>上公差</th>
		      <th>图位</th>
		      <th>三坐标程序号</th>
		      <th>夹具编号</th>
		      <th>操作</th>
		    </tr>
		  </thead>
		  <tbody>
		  <!--  -->
		  	
		  </tbody>
		</table>
	</div>
	</div>
<div >
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal" data-whatever="@mdo">添加</button>  

         <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<tr ng-repeat="list in planMetricList.DLCheckoutMetricList">
		  		<td>{{$index+1}}</td>
		  		<td ng-bind="list.checkoutMetricNo"></td>
		  		<td ng-bind="list.checkoutMetricClassify"></td>
		  		<td ng-bind="list.checkoutMetricName"></td>
		  		<td ng-bind="list.checkoutMetricDescription"></td>
		  		<td ng-bind="list.checkoutToolName"></td>
		  		<td ng-bind="list.processName"></td>


		  		<td ng-bind="list.metricUnit"></td>
		  		<td ng-bind="list.referenceStandard"></td>
		  		<td ng-bind="list.underTolerance"></td>
		  		<td ng-bind="list.upTolerance"></td>
		  		<td ng-bind="list. mapPosition"></td>
		  		<td ng-bind="list.threeDimensionalRogramNo"></td>
		  		<td ng-bind="list. fixtureId"></td>
		  		<td><a ui-sref="account_index.planRevise">修改</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a ui-sref="account_index.planRevise">删除</a></td>
		  	</tr>
		  	    <div class="modal-content">
      
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-header"><h3>添加项目</h3></div>
        <div class="modal-body">
        <form >
          <div class="form-group">
            <label for="companyName" class="control-label left">编号</label>
            <input type="text" class="form-control"  required >
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">分类</label>
            <input type="text" class="form-control"  required >
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">指标名称</label>
            <input type="text" class="form-control"  required >
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">指标描述</label>
            <input type="text" class="form-control"  required >
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">工具</label>
            <input type="text" class="form-control"  required >
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">工序</label>
            <input type="text" class="form-control"  required >
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">单位</label>
            <input type="text" class="form-control"  required >
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">参考标准</label>
            <input type="text" class="form-control"  required >
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">下公差</label>
            <input type="text" class="form-control"  required >
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">上公差</label>
            <input type="text" class="form-control"  required >
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">图位</label>
            <input type="text" class="form-control"  required >
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">三坐标程序号</label>
            <input type="text" class="form-control"  required >
          </div>
          <div class="form-group">
            <label for="companyName" class="control-label left">夹具编号</label>
            <input type="text" class="form-control"  required >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary"><a href="#">保存</a></button>
      </div>
    </div>
  </div>
</div>
</div>
</div>