<style type="text/css">
	.container-MetricList {
		background-color: #fefefe;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 0 25px 10px 25px;
	}	
	#form-horizontal {margin: .8em auto 0 auto;color: #555}
	
	.left{text-align: left !important;float: left;padding-left: 15px;padding-top: 7px;padding-right: 5px;}

	.table th{text-align: center;}

	.table a {color: rgb(29,124,244);}

	.add {padding: 8px 40px;}

	.img-circle {
		width: 55px;
		height: 55px;
		float: left;
		margin-left: .2em;
	}

	.modal-content {padding:6px;}

	.row {margin-bottom: 1em;}

	.span {float: right;line-height: 1.5em;padding-top: .5em;padding-right: .6em;}
	.name {font-size: 14px;}
	.author {color: #f68539;font-size: 12px;}
	.top {margin-top: 1.8em;}
	
</style>
<div ng-controller="planMetricListCtrl">
	

<div class="container text-center container-MetricList" >
	<h3>定性检验项目列表</h3>
	<div class="row">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover ">
			<thead>
		    <tr>
		      <th>#</th>
		      <th>编号</th>
		      <th>分类</th>
		      <th>指标名称</th>
		      <th>指标描述</th>
		      <th>工具</th>
		      <th>工序</th>
		      <th>操作</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="list in planMetricList.DXCheckoutMetricList">
		  		<td>{{$index+1}}</td>
		  		<td ng-bind="list.checkoutMetricNo"></td>
		  		<td ng-bind="list.checkoutMetricClassify"></td>
		  		<td ng-bind="list.checkoutMetricName"></td>
		  		<td ng-bind="list.checkoutMetricDescription"></td>
		  		<td ng-bind="list.checkoutToolName"></td>
		  		<td ng-bind="list.processName"></td>
		  		<td><a ui-sref="#">修改</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a ui-sref="#">删除</a></td>
		  	</tr>
		  </tbody>
		</table>
	</div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dxItem" data-whatever="@mdo">添加定性项目</button>  
    <div class="modal fade" id="dxItem" tabindex="-1" role="dialog" aria-labelledby="dxItemLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content text-left">
    			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    			<h3 class="text-center">添加定性检验项目</h3>
    			<div class="modal-body">
			        <form >
			          <div class="form-group">
			          		<label class="control-label">编号</label>            
				            <input type="text" class="form-control" ng-model="planMetricList.addDX.checkoutMetricNo"  required >
			          </div>
			          <div class="form-group">
			            <label  class="control-label">分类</label>
			            <input type="text" class="form-control" ng-model="planMetricList.addDX.checkoutMetricClassify"  required >
			          </div>
			          <div class="form-group">
			            <label  class="control-label">指标名称</label>
			            <input type="text" class="form-control"  ng-model="planMetricList.addDX.checkoutMetricName"  required >
			          </div>
			          <div class="form-group">
			            <label  class="control-label">指标描述</label>
			            <input type="text" class="form-control"  ng-model="planMetricList.addDX.checkoutMetricDescription"  required >				            
			          </div>
			          <div class="form-group">
			            <label  class="control-label">工具</label>
			            <input type="text" class="form-control"  ng-model="planMetricList.addDX.checkoutToolName"  required >
			          </div>
			          <div class="form-group">
			            <label  class="control-label">工序</label>          
			            <input type="text" class="form-control"  ng-model="planMetricList.addDX.processName"  required >
			          </div>
			        </form>
  				</div>
		     	<div class="text-center">
			        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addDXQCPItems()">添加</button>
		      	</div>
	   	 	</div>
  		</div>
	</div>
	</div>
</div>


<div class="container text-center container-MetricList"  style="margin-top: 2em;">
	<h3>定量检验项目列表</h3>
	<div class="row">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover ">
			<thead>
		    <tr>
		      <th>#</th>
		      <th>编号</th>
		      <th>分类</th>
		      <th>指标名称</th>
		      <th>指标描述</th>
		      <th>工具</th>
		      <th>工序</th>
		      <th>单位</th>
		      <th>参考标准</th>
		      <th>下公差</th>
		      <th>上公差</th>
		      <th>图位</th>
		      <th>三坐标程序号</th>
		      <th>夹具编号</th>
		      <th>操作</th>
		    </tr>
		    </thead>
		    <tbody>
		  	<tr ng-repeat="list in planMetricList.DLCheckoutMetricList">
		  		<td>{{$index+1}}</td>
		  		<td ng-bind="list.checkoutMetricNo"></td>
		  		<td ng-bind="list.checkoutMetricClassify"></td>
		  		<td ng-bind="list.checkoutMetricName"></td>
		  		<td ng-bind="list.checkoutMetricDescription"></td>
		  		<td ng-bind="list.checkoutToolName"></td>
		  		<td ng-bind="list.processName"></td>
		  		<td ng-bind="list.metricUnit"></td>
		  		<td ng-bind="list.referenceStandard"></td>
		  		<td ng-bind="list.underTolerance"></td>
		  		<td ng-bind="list.upTolerance"></td>
		  		<td ng-bind="list.mapPosition"></td>
		  		<td ng-bind="list.threeDimensionalRogramNo"></td>
		  		<td ng-bind="list.fixtureId"></td>
		  		<td><a ui-sref="account_index.planRevise">修改</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a ui-sref="account_index.planRevise">删除</a></td>
		  	</tr>
		  </tbody>

		</table>
	</div>
	</div>
<div>
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal" data-whatever="@mdo">添加定量项目</button>  

     <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  	 <div class="modal-dialog">
	
		<div class="modal-content text-left">
      
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="text-center">添加定量检验项目</h3>
        <div class="modal-body">
        <form >
          <div class="form-group">
            <label  class="control-label">编号</label>
            <input type="text" class="form-control"  ng-model="planMetricList.addDL.checkoutMetricNo"  required >
          </div>
          <div class="form-group">
            <label  class="control-label">分类</label>
            <input type="text" class="form-control"  ng-model="planMetricList.addDL.checkoutMetricClassify"  required >
          </div>
          <div class="form-group">
            <label  class="control-label">指标名称</label>
            <input type="text" class="form-control"  ng-model="planMetricList.addDL.checkoutMetricName"  required >
          </div>
          <div class="form-group">
            <label  class="control-label">指标描述</label>
            <input type="text" class="form-control"  ng-model="planMetricList.addDL.checkoutMetricDescription"  required >
          </div>
          <div class="form-group">
            <label  class="control-label">工具</label>
            <input type="text" class="form-control"  ng-model="planMetricList.addDL.checkoutToolName"  required >
          </div>
          <div class="form-group">
            <label  class="control-label">工序</label>
            <input type="text" class="form-control"  ng-model="planMetricList.addDL.processName"  required >
          </div>
          <div class="form-group">
            <label  class="control-label">单位</label>
            <input type="text" class="form-control"  ng-model="planMetricList.addDL.metricUnit"  required >
          </div>
          <div class="form-group">
            <label  class="control-label">参考标准</label>
            <input type="text" class="form-control"  ng-model="planMetricList.addDL.referenceStandard"  required >
          </div>
          <div class="form-group">
            <label  class="control-label">下公差</label>
            <input type="text" class="form-control"  ng-model="planMetricList.addDL.underTolerance"  required >
          </div>
          <div class="form-group">
            <label  class="control-label">上公差</label>
            <input type="text" class="form-control"  ng-model="planMetricList.addDL.upTolerance"  required >
          </div>
          <div class="form-group">
            <label  class="control-label">图位</label>
            <input type="text" class="form-control"  ng-model="planMetricList.addDL.mapPosition"  required >
          </div>
          <div class="form-group">
            <label  class="control-label">三坐标程序号</label>
            <input type="text" class="form-control"  ng-model="planMetricList.addDL.threeDimensionalRogramNo"  required >
          </div>
          <div class="form-group">
            <label  class="control-label">夹具编号</label>
            <input type="text" class="form-control"  ng-model="planMetricList.addDL.fixtureId"  required >
          </div>
        </form>
      </div>
      <div class="text-center">
        <button type="button"  data-dismiss="modal" class="btn btn-primary" ng-click="addQCPItems('DL')">添加</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>