<style type="text/css">
	#container {
		max-width: 768px;
		background-color: #f8f8f8;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 0 25px 20px 25px;
	}	
	h3 {color: #000;}
	#form-horizontal {margin-top: 1.5em;color: #333}
	.link {text-align: left !important; color: rgb(79,159,207)} 
	.left{text-align: left !important;float: left;padding-left: 15px;padding-top: 7px;padding-right: 5px;}

</style>

<div class="container" id="container" ng-controller="planCheckCtrl">
	<form class="form-horizontal" id="form-horizontal" name="planCheckForm" novalidate>
		<div class="form-group">
			<label class="left control-label">待检物料编号</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" name="materialNo" ng-model="planCheck.materialNo" required ng-disabled="true">
			</div>
            <label class="left control-label" style="margin-right:45px">版本</label>
            <div class="col-sm-3">
            	<input type="text" class="form-control" name="materialVersion" ng-model="planCheck.materialVersion" required ng-disabled="true">
            </div>
		</div>
        <div class="form-group">
        	<label class="left control-label">待检物料简称</label>
        	<div class="col-sm-5">
        	<input type="text" class="form-control" name="materialShortName" ng-model="planCheck.materialShortName" required ng-disabled="true">
            </div>
        </div>
        <div class="form-group">
        	<label class="left control-label">检验计划编号</label>
        	<div class="col-sm-5">
        		<input type="text" class="form-control" name="checkoutPlanNo" ng-model="planCheck.checkoutPlanNo" required ng-disabled="true">
        	</div>
        	<label class="left control-label"style="margin-right:45px">版本</label>
            <div class="col-sm-3">
            	<input type="text" class="form-control" name="checkoutPlanVersion" ng-model="planCheck.checkoutPlanVersion" required ng-disabled="true">
            </div>
        </div>
        <div class="form-group">
        	<label class="left control-label" style="margin-right:53px">AQL</label>
        	<div class="col-sm-5">
        		<input type="text" class="left form-control" name="aql" ng-model="planCheck.aql" required ng-disabled="true">
        	</div>
        	<label class="left control-label"style="margin-right:7px">制作人工号</label>
            <div class="col-sm-3">
            	<input type="text" class="form-control" name="makeJobNumber" ng-model="planCheck.makeJobNumber" required ng-disabled="true">
            </div>
        </div>
        <div class="form-group">
        	<label class="left control-label" style="margin-right:40px">制作人</label>
        	<div class="col-sm-5">
        		<input type="text" class="form-control" name="makeName" ng-model="planCheck.makeName" required ng-disabled="true" >
        	</div>
        	<label class="left control-label" style="margin-right:20px">制作时间</label>
        	<div class="col-sm-3">
        		<input type="text" class="form-control" name="makeTime" ng-model="planCheck.makeTime" required ng-disabled="true" >
        	</div>
        </div>
         <div class="form-group">
        	<label class="left control-label" style="margin-right:40px">录入人</label>
        	<div class="col-sm-5">
        		<input type="text" class="form-control" name="entryName" ng-model="planCheck.entryName" required ng-disabled="true" >
        	</div>
        	<label class="left control-label" style="margin-right:20px">录入时间</label>
        	<div class="col-sm-3">
        		<input type="text" class="form-control" name="entryTime" ng-model="planCheck.entryTime" required ng-disabled="true" >
        	</div>
        </div>

        <button class="btn btn-success" style="padding:.3em .6em; margin-top:20px;" ui-sref="account_index.planHistoryList">查看历史版本</button>

        <button class="btn btn-info" style="padding:.3em .6em; margin-top:20px; margin-left:20px;" ui-sref="account_index.planMetricListCheck">检验项目</button>

         <button class="btn btn-primary" style="padding:.3em .6em; margin-top:20px; margin-left:20px;" ng-click="planCheckBack()">返回</button>
	</form>

</div>