<style type="text/css">
	#container {
		max-width: 768px;
		background-color: #f8f8f8;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 0 25px 20px 25px;
	}	
	h3 {color: #000;}
	#form-horizontal {margin-top: 1.5em;color: #333}
	.link {text-align: left !important; color: rgb(79,159,207)} 
	.left{text-align: left !important;float: left;padding-left: 15px;padding-top: 7px;padding-right: 5px;}

</style>

<div id="container" class="container" ng-controller="planReviseCtrl">
	<form class="form-horizontal" id="form-horizontal" name="planReviseForm" novalidate>
		<div class="form-group">
			<label for="materialNo" class="left control-label">待检物料编号</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="materialNo" name="materialNo" ng-model="planRevise.keyCheckoutPlan.materialNo" required>
			</div>

			<label for="materialVersion" class="left control-label">版本</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="materialVersion" name="materialVersion" ng-model="planRevise.keyCheckoutPlan.materialVersion" required>
			</div>

			<!-- <div class="col-sm-5">
				<select class="form-control" ng-model="planRevise.industry.iType" ng-options="o as o.name for o in planRevise.dictionary.iType" ng-change="planRevise.queryInfo()" name="s"></select>
			</div> -->
		</div>
		<div class="form-group">
			<label class="left control-label">待检物料简称</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="materialShortName" name="materialShortName" ng-model="planRevise.keyCheckoutPlan.materialShortName" required>
			</div>
		</div>

		<div class="form-group">
			<label class="left control-label">检验计划编号</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="checkoutPlanNo" name="checkoutPlanNo" ng-model="planRevise.keyCheckoutPlan.checkoutPlanNo" required>
			</div>

			<label class="left control-label">版本</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="checkoutPlanVersion" name="checkoutPlanVersion" ng-model="planRevise.keyCheckoutPlan.checkoutPlanVersion" required>
			</div>
		</div>

		<div class="form-group">
			<label class="left control-label" style="margin-right: 1em">AQL</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="aql" name="aql" ng-model="planRevise.keyCheckoutPlan.aql" required>
			</div>
		</div>

		<div class="form-group">
			<label class="left control-label">制作人</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="makeName" name="makeName" ng-model="planRevise.keyCheckoutPlan.makeName" required>
			</div>

			<label class="left control-label">制作时间</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="makeTime" name="makeTime" ng-model="planRevise.keyCheckoutPlan.makeTime" required>
			</div>
		</div>

		<div class="form-group">
			<label class="left control-label">录入人</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="entryName" name="entryName" ng-model="planRevise.keyCheckoutPlan.entryName" required>
			</div>

			<label class="left control-label">录入时间</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="entryTime" name="entryTime" ng-model="planRevise.keyCheckoutPlan.entryTime" required>
			</div>
		</div>
		<button class="btn btn-success" style="padding: .3em 1em; margin-left: 1em;" ng-disabled="planReviseForm.$invalid||planReviseForm.$pristine" ng-click="planRevise.updateQCP()">修改</button>

		<button class="btn btn-default" style="padding: .3em .6em;" ui-sref="account_index.planList" >启用</button>

		<button class="btn btn-default" style="padding: .3em .6em;" ui-sref="account_index.plan" >检验项目</button>

		<button class="btn btn-default" style="padding: .3em .6em;" ui-sref="account_index.planHistoryList">查看历史版本</button>

		<button class="btn btn-default" style="padding: .3em .6em; margin-left: 1em;" ui-sref="account_index.planList" >返回</button>
	</form>

<!-- 	<p style="color: #333;font-size: 16px;">通过公开链接，快速邀请</p>
	<p style="color: #555;font-size: 14px;">将下面的公共邀请链接通过QQ，微信等任何方式发给同事，即可点击申请加入公司。（申请需团队管理员审核并分配访问权限）</p>
	<span class="label label-success" id="label">https://ovclouds.com/join?t=59a1817fd9ea087dabb6c9ebd123ece0</span><button class="btn btn-default" style="padding: .3em .5em;margin-left: .2em;">复制</button>
	<p style="color: #666;font-size: 14px;margin-top: 8px;">注意：任何看到邀请链接的人，都可以申请加入团队。意外泄漏请 <a style="color: #555">重新生成邀请链接</a></p> -->
</div>