<style type="text/css">
	#container {
		max-width: 768px;
		background-color: #f8f8f8;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 0 25px 20px 25px;
	}	
	h3 {color: #000;}
	.status {background-color: #999;color: #fff;border-radius: 3px;font-size: 0.8em;padding: 2px 4px;margin-right: 3px}
	.desc {font-size: 12px;color: #999;margin: 5px 0 0 2px;margin-left:18px;}
	#form-horizontal {margin-top: 1.5em;color: #333}
	.link {text-align: left !important; color: rgb(79,159,207)} 
	#label {padding: 0.7em;display: inline-block;}
</style>

<div id="container" class="container" >
	<h3>用户信息设置</h3>
	<form class="form-horizontal" id="form-horizontal" name="userSetting" novalidate>
		<div class="form-group">
			<label for="email" class="col-sm-1 control-label">邮箱</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="email" ng-model="usersetting.email" ng-disabled="true" required>
			</div>
			<!-- <a class="col-sm-2 control-label link">修改邮箱</a> -->
			<a data-toggle="modal" data-target="#reviseEmail" data-whatever="@mdo" ng-click="reviseEmail(list)">修改邮箱</a>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-1 control-label">名字</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="name" ng-disabled="true" ng-model="usersetting.userName" required >
			</div>
			<!-- <a class="col-sm-2 control-label link">修改名字</a> -->
			<a data-toggle="modal" data-target="#reviseName" data-whatever="@mdo" ng-click="reviseName(list)">修改名字</a>

		</div>
		<div class="form-group">
			<label for="password" class="col-sm-1 control-label">密码</label>
			<!-- <a class="col-sm-2 control-label link">修改密码</a> -->
			<a data-toggle="modal" data-target="#revisePassword" data-whatever="@mdo" ng-click="revisePassword(list)">修改密码</a>
		</div>
		<div class="form-group">
			<label for="password" class=" control-label"style="margin-left:18px">绑定微信</label>
			<span class="status">未绑定</span>
			<a href="https://open.weixin.qq.com/connect/qrconnect?appid=wxa19591a6ac899cf0&redirect_uri=http%3A%2F%2Fovclouds.com%2Fv3%2F%23%2FWeb&response_type=code&scope=snsapi_login&state=STATE#wechat_redirect ">绑定</a>
			<p class="desc">绑定后，可直接使用微信登录</p>
		</div>
		<div class="form-group">
			<label for="contactPhone" class="col-sm-1 control-label" ng-model="usersetting.contactPhone">电话</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="contactPhone" ng-model="usersetting.contactPhone" required>
			</div>
		</div>
		<div class="form-group">
			<label for="contactAddress" class="col-sm-1 control-label">地址</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="contactAddress" ng-model="usersetting.contactAddress" required>
			</div>
		</div>
		<button class="btn btn-success" style="padding: .3em .6em;"  ng-click="subData();" ng-disabled="userSetting.$invalid">保存修改</button>

         <!-- <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click=" updateUserName()">保存</button> -->
<!-- 
		<button class="btn btn-success" style="padding: .3em .6em;"  ng-click="updateUserName()" >保存</button> -->
	</form>

</div>

<div class="modal fade" id="reviseEmail" tabindex="-1" role="dialog" aria-labelledby="EmailLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content text-left">
    			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    			<h3 class="text-center">更改邮箱</h3>
    			<div class="modal-body">
			        <form name="reviseEmailForm" novalidate>
			          <div class="form-group">
			          		<label class="control-label">输入密码</label>&nbsp <label style="color:green; font-size:13.5px">(请输入你的登录密码)</label>           
				            <input type="text" class="form-control" ng-model=" usersetting.password" required >
			          </div>
			          <div class="form-group">
			             <label  class="control-label">新的邮箱</label>
			           <input type="text" class="form-control" id="email" ng-model="usersetting.email" required>
			           
			          </div> 
			           </form>
  				</div>
		     	<div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="reviseEmailForm.$invalid" ng-click="updateUserId()">保存</button>
			      
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		      	</div>
	   	 	</div>
  		</div>
</div>

<div class="modal fade" id="reviseName" tabindex="-1" role="dialog" aria-labelledby="NameLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content text-left">
    			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    			<h3 class="text-center">更改名字</h3>
    			<div class="modal-body">
			        <form name="reviseNameForm" novalidate>
			          <div class="form-group">
			          		<label class="control-label">新的名字</label> <!-- <label style="color:green; font-size:14px">(请输入你的登录密码)</label> -->           
				           <input type="text" class="form-control" id="name"  ng-model="usersetting.userName" required >
			          </div>
			        </form>
  				</div>
		     	<div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="reviseNameForm.$invalid" ng-click=" updateUserName()">保存</button>
			      
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        
     
		      	</div>
	   	 	</div>
  		</div>
</div>

<div class="modal fade" id="revisePassword" tabindex="-1" role="dialog" aria-labelledby="PasswordLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content text-left">
    			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    			<h3 class="text-center">更改密码</h3>
    			<div class="modal-body">
			        <form name="revisePasswordForm" novalidate>
			          <div class="form-group">
			          		<label class="control-label">现有密码</label>           
				            <input type="text" class="form-control" ng-model=" usersetting.password" required >
			          </div>
			          <div class="form-group">
			             <label  class="control-label">新的密码</label>
			           <input type="text" class="form-control" id="email" ng-model=" usersetting.password" required>
			           
			          </div> 
			           </form>
  				</div>
		     	<div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="revisePasswordForm.$invalid" ng-click="updateUserId()">保存</button>
			      
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		      	</div>
	   	 	</div>
  		</div>
</div>