<style type="text/css">
	#container {max-width: 768px;background-color: #f8f8f8;border: 1px solid #ececec;border-radius: 5px;padding: 0 25px 20px 25px;	}	
	h3 {color: #000;}
	#form-horizontal {margin-top: 1.5em;color: #333}
	.control-label {text-align: left !important; margin-left: 27px;}
	.link {text-align: left !important; color: rgb(79,159,207)} 
	.form-group {margin-top: 1em;margin-bottom: 1em;}

</style>
<h3 class="text-center">{{qrCode.curCom}}(OQC二维码生成器)</h3>
<div id="container" class="container">
	<form class="form-horizontal col-md-7 col-sm-7 col-xs-7" id="form-horizontal" name="qrCodeForm" novalidate>
		<div class="form-group">
			<label class="col-sm-4 control-label">物料编号</label>
			<div class="col-sm-7">
				<select class="form-control" ng-options="o as o.materialNo for o in qrCode.materialNameDic" ng-model="qrCode.materialNameSelected" ng-change="queryMaterialVersionByMaterialNo()"></select>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">物料版本</label>
			<div class="col-sm-7">
				<select class="form-control" ng-options="o as o.materialVersion for o in qrCode.materialVersionDic" ng-model="qrCode.materialVersionSelected"></select>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">客户名称</label>
			<div class="col-sm-7">
				<select class="form-control" ng-options="o as o.customerShortName for o in qrCode.customerDic" ng-model="qrCode.customerSelected"></select>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">外部入库单号</label>
			<div class="col-sm-7">
				<input class="form-control" type="text" name="externalReceiptNo" id="externalReceiptNo" ng-model="qrCode.externalReceiptNo" required>
			</div>
		</div>

		<button class="btn btn-success" style="padding: .3em .6em;margin-left: 2em;"  ng-click="OQCgenCode();">生成二维码</button>
		<button class="btn btn-default" style="padding: .3em .6em;margin-left: 2em;margin-right: 2em;"  ng-click="clearCode();">清空数据</button>
		<button class="btn btn-default" style="padding: .3em .6em;"  ng-click="back();">返回管理面板</button>
	</form>

	<div class="col-md-5 text-center" style="margin-top: 1.5em;">
		<img id="qrcode" src="" alt="" class="center-block img-responsive">		
	</div>

</div>
