<style type="text/css">
	#container {
		background-color: #fefefe;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 10px 25px;
	}	
	
	h3 {margin-top: .5em;margin-bottom: .8em;}
	
	.table th{text-align: center;}

	.btn-newMem {
		padding: .4em 4.5em ;
		margin: .5em  auto .6em auto;
		font-size: 16px;
	}

	.table a {color: rgb(29,124,244);}

	.img-circle {
		width: 55px;
		height: 55px;
		float: left;
		margin-left: .2em;
	}

	.row {margin-bottom: 1em;}

	.span {float: right;line-height: 1.5em;padding-top: .5em;padding-right: .6em;}
	.name {font-size: 14px;}
	.author {color: #f68539;font-size: 12px;}
	.top {margin-top: 1.8em;}
	
</style>

<div id="container" class="container text-center" ng-controller="materialListCtrl">
	<h3>{{companyShortName}}——物料管理</h3>
	
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover ">
			<thead>
		    <tr>
		      <th>#</th>
		      <th>物料编号</th>
		      <th>物料版本</th>
		      <th>物料简称</th>
		      <th>物料全称</th>
		      <th>操作</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="list in listdata">
		  		<td>{{$index+1}}</td>
		  		<td ng-bind="list.materialNo"></td>
		  		<td ng-bind="list.materialVersion"></td>
		  		<td ng-bind="list.materialShortName"></td>
		  		<td ng-bind="list.materialFullName"></td>
		  		<td><a href="" ng-click="querySingleMaterial(list.materialSid)">修改</a></td>
		  	</tr>
		  </tbody>
		</table>
		<nav>
		  <ul class="pager">
		    <li><a href="#"><span aria-hidden="true">&larr;</span> 上一页</a></li>
		    <li><a href="#">下一页 <span aria-hidden="true">&rarr;</span></a></li>
		  </ul>
		</nav>
	</div>


	<button class="btn btn-success btn-newMem" id="btn-newMem" style="margin-right:.3em;"  data-toggle="modal" data-target="#form">新增物料信息</button>
	<button class="btn btn-default btn-newMem" ng-click="materiallistBack()">返回管理面板</button>

	<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align:left">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      </div>
	      <div class="modal-body">
	        <form name="materialForm" novalidate>
	          <div class="form-group">
	            <label for="materialNo" class="control-label">物料编号</label>
	            <input type="text" class="form-control" id="materialNo" name="materialNo" required ng-model="newMaterial.materialNo">
	          </div>
	          <div class="form-group">
	            <label for="materialVersion" class="control-label">物料版本</label>
	            <input type="text" class="form-control" id="materialVersion" name="materialVersion" required ng-model="newMaterial.materialVersion">
	          </div>
	          <div class="form-group">
	            <label for="materialShortName" class="control-label">物料简称</label>
	            <input type="text" class="form-control" id="materialShortName" name="materialShortName" required ng-model="newMaterial.materialShortName">
	          </div>
	          <div class="form-group">
	            <label for="materialFullName" class="control-label">物料全称</label>
	            <input type="text" class="form-control" id="materialFullName" name="materialFullName" required ng-model="newMaterial.materialFullName">
	          </div>
	          <div class="form-group">
	            <label for="notes" class="control-label">物料备注</label>
	            <input type="text" class="form-control" id="notes" name="notes" required ng-model="newMaterial.notes">
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	            <button type="button" class="btn btn-success" ng-disabled="materialForm.$invalid"  data-dismiss="modal" ng-click="addOrUpdateMaterials(0)">新增物料</button>
	           </div>
	        </form>
	      </div>
	      
	    </div>
	  </div>
	</div>
</div>