<style type="text/css">
	#container {
		max-width: 768px;
		background-color: #f8f8f8;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 0 25px 20px 25px;
	}	
	h3 {color: #000;}
	#form-horizontal {margin-top: 1.5em;color: #333}
	.link {text-align: left !important; color: rgb(79,159,207)} 
	.left{text-align: left !important;float: left;padding-left: 15px;padding-top: 7px;padding-right: 5px;}

</style>

<div id="container" class="container" ng-controller="materialCtrl">
	<h3>物料信息修改</h3>
	<form class="form-horizontal" id="form-horizontal" name="materialform" novalidate>
		<div class="form-group">
			<label for="materialNo" class="control-label left">物料编号</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="materialNo" name="materialNo" ng-model="material.materialNo"  ng-disabled="true" required> 
			</div>
		</div>
		<div class="form-group">
			<label for="comWeb" class="left control-label">物料版本</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="comWeb" name="materialVersion" ng-model="material.materialVersion" required>
			</div>
		</div>
		
		<div class="form-group">
			<label for="name" class="left control-label">物料简称</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="name" name="materialShortName" ng-model="material.materialShortName" required>
			</div>
		</div>
		<div class="form-group">
			<label for="comTel" class="left control-label">物料全称</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="comTel" name="materialFullName" ng-model="material.materialFullName" required>
			</div>
		</div>
		<div class="form-group">
			<label for="comTel" class="left control-label">物料备注</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="comTel" name="notes" ng-model="material.notes" required>
			</div>
		</div>

		<button class="btn btn-success" style="padding: .3em .6em;" ng-disabled="materialform.$invalid||materialform.$pristine" ng-click="addOrUpdateMaterials(1)">保存修改</button>

		<button class="btn btn-default" style="padding: .3em .6em; margin-left: 1em;" ng-click="materialBack()">返回</button>
	</form>

</div>