<style type="text/css">
	#container {
		max-width: 768px;
		background-color: #f8f8f8;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 0 25px 0 25px;
		margin-bottom: 1em;
	}	
	h3 {color: #000;}
	#form-horizontal {margin-top: 1.5em;color: #333}
	.link {text-align: left !important; color: rgb(79,159,207)} 
	.left{text-align: left !important;float: left;padding-left: 15px;padding-top: 7px;padding-right: 5px;}

</style>

<h3 class="text-center"> 入库检验基本信息查询</h3>
<div id="container" class="container">
	<form class="form-horizontal" id="form-horizontal" name="iqcRecordCheckForm" novalidate>
	<div class="form-group">
		<label class="left control-label">物料名称</label>
		<div class="col-md-4">
			<input class="form-control" name="materialName" ng-model="iqcRecordCheck.materialShortName" required ng-disabled="true">
		</div>

		<label class="left control-label">物料版本</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="materialVersion" ng-model="iqcRecordCheck.materialVersion" required ng-disabled="true">
		</div>

		<!-- <button class="btn btn-success btn-newMem" id="btn-newMem" style="margin-left: 1.5em;" ng-disabled=" queryQCPForm.materialVersion.$pristine || queryQCPForm.materialName.$pristine" ng-click="queryActivateQCPByMaterial()">确定</button> -->
	</div>
	</form>
</div>

<div id="container" class="container">
<form class="form-horizontal" id="form-horizontal" novalidate>
	<div class="form-group">
		<label class="left control-label">物料编号</label>
		<div class="col-sm-4">
			<input type="text" name="materialNo" class="form-control"ng-model="iqcRecordCheck.materialNo" required ng-disabled="true" >
		</div>

		<label class="left control-label">物料简称</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="materialShortName" ng-model="iqcRecordCheck.materialShortName" required  ng-disabled="true">
		</div>

		
	</div>

	<div class="form-group">
		<label class="left control-label">计划编号</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="checkoutPlanNo" ng-model="iqcRecordCheck.checkoutPlanNo" required ng-disabled="true" >
		</div>

		<label class="left control-label">计划版本</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="checkoutPlanVersion" ng-model="iqcRecordCheck.checkoutPlanVersion" required ng-disabled="true">
		</div>
	</div>
</form>
</div>

<div id="container" class="container">
	<h3>入库检验记录基本信息</h3>
	<form class="form-horizontal" id="form-horizontal" name="iqcRecordCheckForm" novalidate>
		<div class="form-group">
			<label class="left control-label">检验记录编号</label>
			<div class="col-sm-4">
				<input type="text" name="checkoutRecordNo" class="form-control" ng-model="iqcRecordCheck.checkoutRecordNo" required ng-disabled="true">
			</div>

			<label class="left control-label">物料内部批次</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="batchNo" ng-model="iqcRecordCheck.batchNo" required ng-disabled="true">
			</div>
		</div>

		<div class="form-group">
			<label class="left control-label" style="margin-right:2em;">检验时间</label>
			<div class="col-sm-4">
				<input type="date" class="form-control" name="giveCheckoutTime" ng-model="iqcRecordCheck.giveCheckoutTime" required ng-disabled="true">
			</div>

			<label class="left control-label" style="margin-right: 1em;">供应商简称</label>
			<div class="col-md-4">
				<input class="form-control" name="vendorShortName"  ng-model="iqcRecordCheck.vendorShortName" required ng-disabled="true">
			</div>
		</div>

		<div class="form-group">
			<label class="left control-label" style="margin-right:2em;">送检数量</label>
			<div class="col-sm-4">
				<input type="text" name="giveCheckoutAmount" class="form-control" ng-model="iqcRecordCheck.giveCheckoutAmount"  required ng-disabled="true">
			</div>

			<label class="left control-label" style="margin-right:2em;">抽样数量</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="sampleAmount" ng-model="iqcRecordCheck.sampleAmount" required  ng-disabled="true">
			</div>
		</div>

		<div class="form-group">
			<label class="left control-label">外部入库单号</label>
			<div class="col-sm-4">
				<input type="text" name="externalReceiptNo" class="form-control" ng-model="iqcRecordCheck.externalReceiptNo" required ng-disabled="true">
			</div>
		</div>


		<button class="btn btn-success" style="padding: .3em .6em; margin:0 1em 1em 0;"  ui-sref="account_index.iqcComplexDXCheck">下一步</button>
		
		<button class="btn btn-primary" style="padding: .3em .6em; margin:0 1em 1em 0;" ng-click="back()">返回</button>
	</form>
</div>