<style type="text/css">
.navbar {background-color: #f8f8f8;border-bottom: 1px solid #e7e7e7;}
.navbar .navbar-brand {
	display: block;
	margin-top: 7px;
	width: 275px;
	height: 30px;
	background: url('common/img/logo.jpg') no-repeat center center;
	text-indent: -999em;
}
.navbar .header-right {
/*	float: right;*/
	margin-top: 8px;				
}
.btn {padding: 5px 18px;}
.btn-default {margin-right: 7px;}
a {cursor: pointer;}

a {color: #888;}
footer {margin-top: 2em;}
</style>

<div class="navbar" ng-controller="account_indexCtrl">
	<div class="container">
		<div class="navbar-header col-md-10 col-sm-10 col-xs-10">
			<a href="" class="navbar-brand">飞特FIMS</a>
		</div>
		<div class="header-right dropdown col-md-2 col-sm-2 col-xs-2">
			<a class="dropdown-toggle btn btn-defSault" data-toggle="dropdown" aria-expand="false">{{userName}}&nbsp;&nbsp;<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a ui-sref="account_index.userSetting">个人设置</a></li>
				<li><a href="" ui-sref="account_index.agreeMem">生成邀请链接</a></li>
				<li><a href="" ui-sref="account_index.joinCo">申请加入公司</a></li>
				<li class="divider"></li>
				<li><a ui-sref="account_index.comSetting">公司设置</a></li>
				<li><a ng-click="switchCom()">切换公司</a></li>
				<li><a ng-click="exitSystem()">退出</a></li>
			</ul>
			<!-- <a href="" class="btn btn-success">注册</a> -->
		</div>
	</div>
</div>

<div ui-view=""></div>

<footer class="text-center"><a href="#">@ 武汉飞特信息技术有限公司</a></footer>
