<style type="text/css">
	#container {
		max-width: 768px;
		background-color: #f8f8f8;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 0 25px 0 25px;
		margin-bottom: 1em;
	}	
	h3 {color: #000;}
	#form-horizontal {margin-top: 1.5em;color: #333}
	.link {text-align: left !important; color: rgb(79,159,207)} 
	.left{text-align: left !important;float: left;padding-left: 15px;padding-top: 7px;padding-right: 5px;}

</style>
<div class=" container text-center" style="max-width:798px;" >
<div class="alert alert-warning  "  id="warning-block" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>温馨提示:</strong>请扫描二维码！
	  <input name="Codes" id="Codes" type="text" display="none">
</div>
</div>
<h3 class="text-center">{{iqcAddCode.companyShortName}} (入库检验基本信息)</h3>
<div id="container" class="container">
	<form class="form-horizontal" id="form-horizontal" name="queryQCPForm" novalidate>
	<div class="form-group">
		<label class="left control-label">物料名称</label>
		<div class="col-md-3">
			<input class="form-control" name="materialName" ng-model="materialName"required >
		</div>

		<label class="left control-label">物料版本</label>
		<div class="col-md-3">
			<input class="form-control" name="materialVersion" ng-model="materialVersion" required >
		</div>

		<!-- <button class="btn btn-success btn-newMem" id="btn-newMem" style="margin-left: 1.5em;" ng-disabled=" queryQCPForm.materialVersion.$pristine || queryQCPForm.materialName.$pristine" ng-click="queryActivateQCPByMaterial()">确定</button> -->
	</div>
	</form>
</div>

<div id="container" class="container">
<form class="form-horizontal" id="form-horizontal" novalidate>
	<div class="form-group">
		<label class="left control-label">物料编号</label>
		<div class="col-sm-3">
			<input type="text" name="materialNo" class="form-control"ng-model="iqcAddCode.plan.materialNo" required ng-disabled="true" >
		</div>

		<label class="left control-label">物料简称</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="materialShortName" ng-model="iqcAddCode.plan.materialShortName" required  ng-disabled="true">
		</div>

		<label class="left control-label">物料版本</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" name="materialVersion" ng-model="iqcAddCode.plan.materialVersion" required ng-disabled="true">
		</div>
	</div>

	<div class="form-group">
		<label class="left control-label">计划编号</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="checkoutPlanNo" ng-model="iqcAddCode.plan.checkoutPlanNo" required ng-disabled="true" >
		</div>

		<label class="left control-label">计划版本</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="checkoutPlanVersion" ng-model="iqcAddCode.plan.checkoutPlanVersion" required ng-disabled="true">
		</div>
	</div>
</form>
</div>

<div id="container" class="container">
	<h3>入库检验记录基本信息</h3>
	<form class="form-horizontal" id="form-horizontal" name="iqcAddCodeForm" novalidate>
		<div class="form-group">
			<label class="left control-label">检验记录编号</label>
			<div class="col-sm-4">
				<input type="text" name="checkoutRecordId" class="form-control" ng-model="iqcAddCode.checkoutRecordNo" required >
			</div>

			<label class="left control-label">物料内部批次</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="batchNo" ng-model="iqcAddCode.batchNo" required >
			</div>
		</div>

		<div class="form-group">
			<label class="left control-label" style="margin-right:2em;">检验时间</label>
			<div class="col-sm-4">
				<input type="date" class="form-control" name="checkoutTime" ng-model="iqcAddCode.checkoutTime" required>
			</div>

			<label class="left control-label" style="margin-right: 1em;">供应商简称</label>
			<div class="col-md-4">
				<input class="form-control" name="vendor" required ng-disabled="true">
			</div>
		</div>

		<div class="form-group">
			<label class="left control-label" style="margin-right:2em;">送检数量</label>
			<div class="col-sm-4">
				<input type="text" name="giveCheckoutAmount" class="form-control" ng-model="iqcAddCode.giveCheckoutAmount" required >
			</div>

			<label class="left control-label" style="margin-right:2em;">抽样数量</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="sampleAmount" ng-model="iqcAddCode.sampleAmount" required >
			</div>
		</div>

		<div class="form-group">
			<label class="left control-label">外部入库单号</label>
			<div class="col-sm-4">
				<input type="text" name="externalReceiptNo" class="form-control" ng-model="iqcAddCode.externalReceiptNo" required >
			</div>
		</div>


		<button class="btn btn-success" style="padding: .3em .6em; margin:0 1em 1em 0;" ng-disabled="iqcAddCodeForm.$invalid" ng-click="submitBaseIQCRecord()">确认添加</button>

		<button class="btn btn-default" style="padding: .3em .6em; margin:0 1em 1em 0;" ng-click="back()">取消添加</button>
	</form>
</div>