<style type="text/css">
	#container {
		max-width: 768px;
		background-color: #f8f8f8;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 0 25px 0 25px;
		margin-bottom: 1em;
	}	
	h3 {color: #000;}
	#form-horizontal {margin-top: 1.5em;color: #333}
	.link {text-align: left !important; color: rgb(79,159,207)} 
	.left{text-align: left !important;float: left;padding-left: 15px;padding-top: 7px;padding-right: 5px;}

</style>

<h3 class="text-center">帖 (入库检验基本信息)</h3>
<div id="container" class="container">
	<!-- <h3>{{companyShortName}} (新增入库检验记录)</h3> -->
	<form class="form-horizontal" id="form-horizontal" novalidate>
	<div class="form-group">
		<label class="left control-label">物料名称</label>
		<div class="col-md-3">
			<select class="form-control" ng-options="o as o.materialShortName for o in planlist.dictionary.materialName" ng-model="planlist.Selected.materialName"  ng-change="queryMaterialVersionByMaterialNo()"></select>
		</div>

		<label class="left control-label">物料版本</label>
		<div class="col-md-3">
			<select class="form-control" ng-options="o.materialVersion as o.materialVersion for o in planlist.dictionary.materialVersion" ng-model="planlist.Selected.materialVersion" ng-change="queryQCPByMaterial()"></select>
		</div>

		<button class="btn btn-success btn-newMem" id="btn-newMem" style="margin-left: 1.5em;" ui-sref="account_index.iqcAdd">确定</button>
	</div>

	
	</form>
</div>

<div id="container" class="container">
<form class="form-horizontal" id="form-horizontal" novalidate>
	<div class="form-group">
		<label class="left control-label">物料编号</label>
		<div class="col-sm-3">
			<input type="text" name="checkoutPlanNo" class="form-control" id="checkoutPlanNo" name="checkoutPlanNo" ng-model="planAdd.checkoutPlanNo" required ng-disabled="true" >
		</div>

		<label class="left control-label">物料名称</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="checkoutPlanVersion" name="checkoutPlanVersion" ng-model="planAdd.checkoutPlanVersion" required  ng-disabled="true">
		</div>

		<label class="left control-label">物料版本</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" id="checkoutPlanVersion" name="checkoutPlanVersion" ng-model="planAdd.checkoutPlanVersion" required ng-disabled="true">
		</div>
	</div>

	<div class="form-group">
		<label class="left control-label">计划编号</label>
		<div class="col-sm-3">
			<input type="text" name="checkoutPlanNo" class="form-control" id="checkoutPlanNo" name="checkoutPlanNo" ng-model="planAdd.checkoutPlanNo" required ng-disabled="true" >
		</div>

		<label class="left control-label">计划版本</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" id="checkoutPlanVersion" name="checkoutPlanVersion" ng-model="planAdd.checkoutPlanVersion" required ng-disabled="true">
		</div>
	</div>

</form>
</div>

<div id="container" class="container">
	<h3>入库检验记录基本信息</h3>
	<form class="form-horizontal" id="form-horizontal" name="planAddForm" novalidate>
		<div class="form-group">
			<label class="left control-label">检验记录编号</label>
			<div class="col-sm-4">
				<input type="text" name="checkoutPlanNo" class="form-control" id="checkoutPlanNo" name="checkoutPlanNo" ng-model="planAdd.checkoutPlanNo" required >
			</div>

			<label class="left control-label">物料内部批次</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="checkoutPlanVersion" name="checkoutPlanVersion" ng-model="planAdd.checkoutPlanVersion" required >
			</div>
		</div>

		<div class="form-group">
			<label class="left control-label" style="margin-right:2em;">检验时间</label>
			<div class="col-sm-4">
				<input type="date" class="form-control" id="makeTime" name="makeTime" ng-model="planAdd.makeTime" required>
			</div>

			<label class="left control-label" style="margin-right: 1em;">供应商简称</label>
			<div class="col-md-4">
				<select class="form-control" name="materialVersion" ng-options="o.materialVersion as o.materialVersion for o in planAdd.dictionary.materialVersion" ng-model="planAdd.Selected.materialVersion" ng-change="queryMaterialShortName()"></select>
			</div>
		</div>

		<div class="form-group">
			<label class="left control-label" style="margin-right:2em;">送检数量</label>
			<div class="col-sm-4">
				<input type="text" name="checkoutPlanNo" class="form-control" id="checkoutPlanNo" name="checkoutPlanNo" ng-model="planAdd.checkoutPlanNo" required >
			</div>

			<label class="left control-label" style="margin-right:2em;">抽样数量</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="checkoutPlanVersion" name="checkoutPlanVersion" ng-model="planAdd.checkoutPlanVersion" required >
			</div>
		</div>

		<button class="btn btn-success" style="padding: .3em .6em; margin:0 1em 1em 0;" ng-disabled="planAddForm.$invalid" ng-click="addQCP()">确认添加</button>

		<button class="btn btn-default" style="padding: .3em .6em; margin:0 1em 1em 0;" ng-click="backQCP()">取消添加</button>

		<button class="btn btn-default" style="padding: .3em .6em; margin:0 1em 1em 0;" ui-sref="account_index.iqcSimpleDXAdd">下一步</button>

		<button class="btn btn-default" style="padding: .3em .6em; margin:0 1em 1em 0;" ui-sref="account_index.iqcComplexDXAdd">下一步</button>
	</form>
</div>