<style type="text/css">
	#container {
		max-width: 768px;
		background-color: #f8f8f8;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 0 25px 0 25px;
		margin-bottom: 1em;
	}	
	h3 {color: #000;}
	#form-horizontal {margin-top: 1.5em;color: #333}
	.link {text-align: left !important; color: rgb(79,159,207)} 
	.left{text-align: left !important;float: left;padding-left: 15px;padding-top: 7px;padding-right: 5px;}
	.form-group .col-md-2{margin-bottom: 1em;}

</style>

<h3 class="text-center">{{iqcComplexDXAdd.companyShortName}} (入库定性复杂录入)</h3>

<div id="container" class="container">
<form class="form-horizontal" id="form-horizontal" novalidate>
	<div class="form-group">
		<label class="left control-label">物料编号</label>
		<div class="col-sm-3">
			<input type="text" name="materialNo" class="form-control"ng-model="iqcComplexDXAdd.materialNo" required ng-disabled="true" >
		</div>

		<label class="left control-label">物料简称</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="materialShortName" ng-model="iqcComplexDXAdd.materialShortName" required  ng-disabled="true">
		</div>

		<label class="left control-label">物料版本</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" name="materialVersion" ng-model="iqcComplexDXAdd.materialVersion" required ng-disabled="true">
		</div>
	</div>

	<div class="form-group">
		<label class="left control-label">计划编号</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="checkoutPlanNo" ng-model="iqcComplexDXAdd.checkoutPlanNo" required ng-disabled="true" >
		</div>

		<label class="left control-label">计划版本</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="checkoutPlanVersion" ng-model="iqcComplexDXAdd.checkoutPlanVersion" required ng-disabled="true">
		</div>

		<label class="left control-label">抽样数量</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" name="sampleAmount" ng-model="iqcComplexDXAdd.sampleAmount" required ng-disabled="true">
		</div>
	</div>
</form>
</div>

<div id="container" class="container" ng-repeat="list in DX">
	<form class="form-horizontal" id="form-horizontal" novalidate>
		<div class="form-group">
			<label class="left control-label">检验指标</label>
			<div class="col-sm-3">
				<input type="text" name="checkoutMetricName" class="form-control"ng-model="list.checkoutMetricName" required ng-disabled="true" >
			</div>

			<label class="left control-label">检验工具</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="checkoutToolName" ng-model="list.checkoutToolName" required  ng-disabled="true">
			</div>
		</div>
	</form>
	<form class="form-horizontal" id="form-horizontal" name="planAddForm" novalidate>
		<div class="form-group">
			<div style="display: none;" ng-bind="mark=$index"></div>
			<div class="col-md-2" ng-repeat="s in list.sample track by $index">
				<!-- <select class="form-control" ng-options="o.sampleCheckoutValue as o.value for o in iqcComplexDXAdd.itemDic" ng-model="iqcComplexDXAdd.sampleSel[mark][$index].sampleCheckoutValue"></select> -->
				<label class="text-center">S{{$index}}</label>
				<select class="form-control" ng-options="o.sampleCheckoutValue as o.value for o in iqcComplexDXAdd.itemDic" ng-model="DX[mark].sample[$index].sampleCheckoutValue"></select>
			</div>
		</div>
	</form>
</div>

<!-- <p ng-repeat="list in DX" class="text-center">
	{{list.sample}}
</p>
 -->
<div class="text-center" style="margin: .5em auto;">
	<button class="btn btn-default" style="padding: .3em .6em; margin:0 1em 1em 0;" ui-sref="account_index.iqcAddCheck">上一步</button>

	<button class="btn btn-success" style="padding: .3em 1em; margin:0 1em 1em 0;" ng-disabled="planAddForm.$invalid" ng-click="updateComplexIQCRecord()">保存</button>

	<button class="btn btn-default" style="padding: .3em .6em; margin:0 1em 1em 0;" ng-click="next()">下一步</button>
</div>
