<div class="picture">
		<img src="img/picture.png" alt="背景图片">
	</div>
	<div class="land-header">
		<div class="land-top">
		</div>
		<div class="land-head-land">
			<div class="land-text">
				<div class="land-logo">
					<h1><a href="/">飞特科技 | FIMS</a></h1>
				</div>
				<div class="land-login">
					<p>第一次使用飞特科技？ <a ui-sref="login">立即注册</a></p>
				</div>
			</div>
		</div>
		<div class="land-box">
			<p>再小的零件，也有自己的用处</p>
			<form action="" name="indexForm" ng-controller="indexController">
				<div class="land-landing">
					<div class="land-landing-content">
						<p>登 录</p>
						<br><br>
						<span class="land-return" id="land-return" ng-show="user.code">{{user.returnMsg}}</span>
						<br><br>
						<div class="land-user">
							<input  type="email" ng-model="user.userId" name="userId" class="input1" id="user_id" placeholder="账号/邮箱/用户名" required>
							<br>
							<input  type="password" ng-model="user.password" name="password" class="input2"  id="password" placeholder="密码" required>
						</div>
						<br>
						<span><input type="checkbox">&nbsp;记住账号</span>
						<span><a href="#">无法登录？</a></span>
						<br><br>
						<input class="input3" type="button" value="登录" ng-click="subData()">
					</div>	
				</div>
			</form>
		</div>
	</div>
	<div class="land-content">
		<div class="land-notice">
			<span><p>系统公告</p></span>
			<span><p>-新增记录模块已经上线！</p></span>
			<span><p>-新增记录模块已经上线！</p></span>
			<span><p>-新增记录模块已经上线！</p></span>
			<span><a href="#">查看更多>></a></span>
		</div>
		<div class="land-version">
			<div class="land-android">
				<div class="android-img">
					<img src="img/andriod.png" alt="安卓">	
				</div>
				<div class="android-content">
					<p class="android-title">Android版</p>
					<p class="android-title-content">Android是一种基于Linux的自由及开放源代码的操作系统，主要使用于移动设备。</p>
				</div>
			</div>
			<div class="land-pc">
				<div class="pc-img">
					<img src="img/pc.png" alt="安卓">	
				</div>
				<div class="pc-content">
					<p class="pc-title">pc版</p>
					<p class="pc-title-content">随着智能手机和平板的普及，绝大多 数人可能已经更青睐那种触动手指即 可完成的办公娱乐方式。</p>
				</div>
			</div>
			<div class="land-ios">
				<div class="ios-img">
					<img src="img/ios.png" alt="安卓">	
				</div>
				<div class="ios-content">
					<p class="ios-title">ios版</p>
					<p class="ios-title-content">iOS是由苹果公司开发的移动操作系 统。苹果公司最早于2007年1月9日的 Macworld大会上公布这个系统。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-copyright">
			<p>Copyright © 2014  飞特信息技术有限公司 All Rights Researved.</p>
		</div>
	</div>