<style type="text/css">
  
	#container {text-align: center;font-size: 25px;}
	.list-group {max-width: 558px;display: inline-block;}
	.list-group-item {padding: 1em 4em;font-weight: bold;}
  .list-group-item-text {font-size: 13px;margin-top: 12px;}
	.control-label {font-size: 16px;margin-bottom: 5px;}
	.modal-header {border-bottom: 0;}
	.modal-footer {border-top: 0;}
</style>
<div ng-controller="chooseTeamController">
<div class="container" id="container">
	<div class="list-group">
<!-- 		<a href="" class="list-group-item disabled">
			<h4 class="list-group-item-heading">NewThread</h4>
      <p class="list-group-item-text">审核已经提交，等待管理员审核</p>
		</a>
		<a href="" class="list-group-item" ui-sref="account_index.chooseModule">
			<h4 class="list-group-item-heading">武汉网酷科技有限公司</h4>
		</a>
		<a href="" class="list-group-item" ui-sref="account_index.chooseModule">
			<h4 class="list-group-item-heading">武汉极创信息技术有限公司</h4>
		</a>
    <a href="" class="list-group-item active" data-toggle="modal" data-target="#creatCo" data-whatever="@zchar">
      <h4 class="list-group-item-heading">+ 创建公司</h4>
    </a>
 -->
    <a ng-repeat="company in companyList" class="list-group-item {{company.userApplyStatus}}" href="javascript:void(0)" ng-click="setWorkingCompany(company.companySid)" ng-disabled="{{company.userApplyStatus}}">
      <h4 class="list-group-item-heading">{{company.companyShortName}}</h4>
    </a>
    <a href="" class="list-group-item active" data-toggle="modal" data-target="#creatCo" data-whatever="@zchar">
      <h4 class="list-group-item-heading">+ 创建公司</h4>
    </a>
	</div>
</div>
<div class="modal fade" id="creatCo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form name="createNewCompany" novalidate>
          <div class="form-group">
            <label for="companyName" class="control-label">新建公司简称</label>
            <input type="text" class="form-control" id="companyName" name="companyName" required ng-model="createCom.name">
          </div>
          <div class="form-group">
            <label for="cid" class="control-label">您在新公司的工号</label>
            <input type="text" class="form-control" id="cid" name="cid" required ng-model="createCom.cid">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" ng-disabled="createNewCompany.$invalid"  data-dismiss="modal" ng-click="subData()">创建新公司</button>
           </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
</div>